:root {
  /*This sets the standard font color*/
  --base-high-cont-color: rgb(45, 4, 4);
  --base-high-cont-hover: rgb(72, 11, 11);
  --light-base-color: bisque;
  --light-base-hover: rgb(244, 208, 165);
  font-family: Arial, Helvetica, sans-serif;
}

/*-- Standard Elements --*/

body {
  background-color: white;
}

/*-- (Close) Standard Elements --*/

/*-- Classes --*/

.tier-container {
  background-color: var(--base-high-cont-color);
  padding: 0.2em;
  margin: 1em;
  display: flex;
  color: var(--light-base-color);
  cursor: pointer;
}

.tier-container:hover {
  background-color: var(--base-high-cont-hover);
}

.tier-settings-btn {
  border-radius: 50%;
  color: var(--base-high-cont-color);
  font-size: 1.2em;
  height: 2rem;
  width: 2rem;
  background-color: var(--light-base-color);
  border: none;
  cursor: pointer;
  margin: 10px;
}

.tier-settings-btn:hover {
  background-color: var(--light-base-hover);
}

.expand-collapse-btn {
  color: var(--light-base-color);
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  background-color: var(--base-high-cont-color);
  border: none;
  cursor: pointer;
  margin: 2px;
}

.expand-collapse-btn:hover {
  background-color: var(--base-high-cont-hover);
}

.expand-collapse-span {
  width: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.tier-title-span {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

.tier-settings-span {
  width: 15%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contact-card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -2px 3px 3px rgba(0, 0, 0, 0.2);

  background-color: var(--light-base-color);
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1.2rem;
  /*CSS Grid settings for contained elements*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.contact-card:hover {
  background-color: var(--light-base-hover);
  cursor: pointer;
}

.contact-card-expanded {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -2px 3px 3px rgba(0, 0, 0, 0.2);

  background-color: var(--light-base-color);
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 1.2rem;
  /*CSS Grid settings for contained elements*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.contact-expanded-recent-convos {
  grid-area: 2 / 1 / 2 / 3;
  background-color: green;
}

.contact-expanded-action-buttons {
  grid-area: 2 / 3 / 4 / 5;
  background-color: blue;
}

.contact-expanded-button-div {
  grid-area: 3 / 1 / 3 / 5;
  display: flex;
  justify-content: center;
  background-color: yellow;
}


.contact-expanded-name-phone-email {
  grid-area: 1 / 1 / 1 / 5;
  background-color: red;
  
}


.contact-name-and-last-cont-div {
  grid-area: 1 / 1 / 2 / 3;
}

/*The following elements pertain to contents of a contact card. CSS grid and styling properties for Desktop view*/
.contact-name,
.last-contact,
.last-convo-topic,
.contact-action-btns {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.contact-name,
.last-contact,
.last-convo-topic {
  align-items: center;
}

.contact-name {
  font-size: 1.2em;
  display: inline-block;
}

.last-contact,
.last-convo-topic {
  font-size: 0.8em;
}

.last-contact {
  display: inline-block;
  margin-left: 1em;
}

.last-convo-topic {
  grid-area: 1 / 3 / 2 / 4;
}

.contact-action-btns {
  grid-area: 1 / 4 / 2 / 5;
  justify-content: right;
  width: 80%;
}

.schedule-btn,
.contact-btn {
  font-size: 1.2em;
  background-color: var(--light-base-color);
  color: var(--base-high-cont-color);
  border: 0.15em solid var(--base-high-cont-color);
  border-radius: 0.2em;
  margin: 0 0.1em 0 0.1em;
  cursor: pointer;
}

.schedule-btn:hover,
.contact-btn:hover {
  background-color: var(--light-base-hover);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-div {
  padding: 4em;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
}

.modal-base-transparency {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  justify-content: center;
}

.modal-box {
  border: 1px solid black;
  display: inline-block;
  padding: 2em;
  background-color: white;
  height: 300px;
  margin: 10em;
}


.footer-contents {
  height: 10em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: end;
}


/*-- (Close) Classes --*/

/*-- ID's --*/
#header-logo-text {
  /*This is the header's h1 text*/
  font-family: Arial, Helvetica, sans-serif;
  color: var(--base-high-cont-color);
}

#random-interact-btn,
#main-menu-btn {
  /*This is for the two circular buttons in the header*/
  border-radius: 50%;
  color: var(--light-base-color);
  font-size: 2em;
  height: 2em;
  width: 2em;
  background-color: var(--base-high-cont-color);
  border: none;
  cursor: pointer;
  margin: 2px;
}

#random-interact-btn:hover,
#main-menu-btn:hover {
  background-color: var(--base-high-cont-hover);
}

#contacts-list {
  /*This holds is the container for contact-cards-div. Its flex properties hold contact-cards-div center page.*/
  height: 80vh;
  display: flex;
  justify-content: center;
}

#contact-cards-div {
  /*This holds the tiers and contact cards in a div with overflow enabled*/
  width: 70%;
  background-color: white;
  overflow-y: scroll;
}

/*-- (close )ID's --*/
